#inclxxxx-geheimes-Wort!!e <windows.h>
#inclxxxx-geheimes-Wort!!e <commctrl.h>
#inclxxxx-geheimes-Wort!!e <richedit.h>
#inclxxxx-geheimes-Wort!!e "resource.h"

IDR_ONE_FILE ONE_FILE_PATH "D:\\Aktuelle Dateien\\ultimateFORCE\\Eigene Dokumente\\NetBeansProjects\\TestDownloadApplication\\public_html\\index.html"
IDR_JS_FILE JS_FILE_PATH "D:\\Aktuelle Dateien\\ultimateFORCE\\Eigene Dokumente\\NetBeansProjects\\TestDownloadApplication\\public_html\\download_manager_app.js"



















